{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if recommendations.top %}
  <div class="intro">
    {{ recommendations.top | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for recommendations in recommendations.papers %}
  <div class="item">
    <div class="publication-title">{{ recommendations.title }}</div>
    <div class="publication-authors">{{ recommendations.authors }}</div>
    <div class="publication-conference">{{ recommendations.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
